{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'style/base.css'%}" />
    <link rel="stylesheet" href="{%static 'style/partials/header.css'%}" />
    <link rel="stylesheet" href="{%static 'style/partials/landing.css'%}" />
    <title>{%filter upper%}{%block page_title%}{%endblock%}{%endfilter%}</title>
  </head>
  <body>
    {%block page_content%}{%endblock%}
  </body>
</html>
